@using EspecificacionCanica.Models
@model global::EspecificacionCanica.Models.EspecificacionCanica


@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/Canica")


@using (Html.BeginForm())
{
    <hr />
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <input id="txtCliente" type="text" class="form-control" placeholder=" Buscar Cliente" />
      </div>
      <div class="col-md-1">
        <input type="button" value="Buscar" class="btn btn-info" id="btnBuscar" />
      </div>
      <div class="col-md-4">
        @Html.DropDownList("Clientes", ViewBag.Clientes as SelectList, new { @class = "form-control", @style = "max-width:100%!important" })

      </div>
      <div class=" col-md-1">
        <input type="button" value="Cargar" class="btn btn-info" id="btnCargar" />
      </div>

    </div>

    <div class="alert alert-success" role="alert" style="margin-top:2%" id="alertCliente">
      <div class=" row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
          <label id="lblCodigoCliente"></label>
        </div>
        <div class="col-md-4">
          <label id="lblNameCliente"></label>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top:2%!important">
      <div class="col-md-3"></div>
      <div class="col-md-2">
        <label id="lblCodigoCliente"></label>
      </div>
      <div class="col-md-4">
        <label id="lblNameCliente"></label>
      </div>
    </div>

    <div class=" row">
      <div class="col-md-4"></div>
      <div class="col-md-3">
        @Html.DropDownList("Articulos", ViewBag.Articulos as SelectList, new { @class = "form-control" })
      </div>
      <div class="col-md-1">
        <input type="button" value="Buscar Producto" class="btn btn-info" id="btnBuscarProducto" />
      </div>
    </div>


    <div id="Encabezado" style="margin-top:2%" hidden="hidden">
      <div class="jumbotron jumbInicio">
        <div class="row">
          <div class="col-md-2" style="vertical-align: central !important">
            <img src="~/Resources/logo2Artboard 1Glasfirma.png" style="width:80%!important;height:80%!important;padding-top:45%!important " />
          </div>
          <div class=" col-md-10">
            <div class="row" style="color:white;font-weight:bold; text-align:center">
              <div class="col-md-9">
                <h2>ESPECIFICACIÓN DE PRODUCTO</h2>
              </div>
              <div class="col-md-3">
                <h2>4-CM-05</h2>
              </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th> @Html.DisplayNameFor(model => model.Cliente)</th>
                  <th> @Html.DisplayNameFor(model => model.Modelo)</th>
                  <th> @Html.DisplayNameFor(model => model.Medida)</th>
                  <th> @Html.DisplayNameFor(model => model.Calibracion)</th>
                  <th> @Html.DisplayNameFor(model => model.CodigoSAP)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="inicio"><lable id="lblCliente"></lable></td>
                  <td><lable id="lblModelo"></lable></td>
                  <td><lable id="lblMedida"></lable></td>
                  <td><lable id="lblCalibracion"></lable></td>
                  <td><lable id="lblCodigoSAP"></lable></td>

                </tr>
              </tbody>
            </table>
            <table class="table">
              <thead>
                <tr>
                  <th> @Html.DisplayNameFor(model => model.NombreCliente)</th>
                  <th> @Html.DisplayNameFor(model => model.Empaque)</th>
                  @*<th> @Html.DisplayNameFor(model => model.ColorMalla)</th>*@
                  <th colspan="2"> @Html.DisplayNameFor(model => model.NumArticulo)</th>
                </tr>
              </thead>
              <tbody>
                <tr>

                  <td class="inicio"><lable id="lblNombreCliente"></lable></td>
                  <td><lable id="lblEmpaque"></lable></td>
                  @*<td><lable id="lblColorMalla"></lable></td>*@
                  <td><lable id="lblNumArticulo"></lable></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="accordion" id="disInsumo">
        <div class="card">
          <div class="card-header" id="headingInsumo">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseInsumo" aria-expanded="true" aria-controls="collapseInsumo">INSUMOS (Todos los insumos que se necesitan para empacar)</button>
            </h5>
          </div>
          <div id="collapseInsumo" class="collapse" aria-labelledby="headingInsumo" data-parent="#disInsumo">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <table class="tableGeneral">
                    <thead>
                      <tr>
                        <th colspan="3"> Canica, Gemas o Figuras</th>
                        <th colspan="4"> Otros Insumos</th>
                      </tr>
                      <tr>
                        <th>@Html.DisplayNameFor(model => model.codSAPP)</th>
                        <th>@Html.DisplayNameFor(model => model.NomProduccion)</th>
                        <th>@Html.DisplayNameFor(model => model.MedidaEmp)</th>
                        <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                        <th>@Html.DisplayNameFor(model => model.codSAPI)</th>
                        <th>@Html.DisplayNameFor(model => model.cantidaDisplay)</th>
                        <th>@Html.DisplayNameFor(model => model.cantidaCajaM)</th>
                      </tr>
                    </thead>
                    <tbody id="tbodyInsumo"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="accordion" id="disEmpInicial">
        <div class="card">
          <div class="card-header" id="headingEmpInicial">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEmpInicial" aria-expanded="true" aria-controls="collapseEmpInicial">EMPAQUE INICIAL</button>
            </h5>
          </div>
          <div id="collapseEmpInicial" class="collapse" aria-labelledby="headingEmpInicial" data-parent="#disEmpInicial">
            <div class="card-body">
              @*<div class="row">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-8">
                    <table class="tableGeneral">
                      <thead>
                        <tr>
                          <th> @Html.DisplayNameFor(model => model.Descripcion)</th>
                          <th> @Html.DisplayNameFor(model => model.CodigoSAP)</th>
                          <th> @Html.DisplayNameFor(model => model.Cantidad)</th>
                        </tr>
                      </thead>
                      <tbody id="tbodyEICodigos"></tbody>
                    </table>
                  </div>
                </div>*@
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                  <table class="tableGeneral">
                    <thead>
                      <tr>
                        <th> @Html.DisplayNameFor(model => model.InstruccionesEmpaque)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id="InsEmpInicial"> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <table class="tableGeneral">
                    <thead>
                      <tr>
                        <th id="thImgEI"> @Html.DisplayNameFor(model => model.Imagenes)</th>
                      </tr>
                    </thead>
                    <tbody id="tbodyImgEI"></tbody>
                  </table>
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                      <table class="tableGeneral">
                        <thead>
                          <tr>
                            <th colspan="2"> @Html.DisplayNameFor(model => model.CodBarras)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td id="NomEmpInicial"></td>
                            <td id="codBarrasEI"></td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <table class="tableGeneral">
                        <thead>
                          <tr>
                            <th colspan="6"> @Html.DisplayNameFor(model => model.ProdVariosM)</th>
                          </tr>
                          <tr>
                            <th> @Html.DisplayNameFor(model => model.CodInternoPro)</th>
                            <th> @Html.DisplayNameFor(model => model.NomProduccion)</th>
                            <th> @Html.DisplayNameFor(model => model.NomCliente)</th>
                            <th> @Html.DisplayNameFor(model => model.MedidaEmp)</th>
                            <th> @Html.DisplayNameFor(model => model.Cantidad)</th>
                          </tr>
                        </thead>
                        <tbody id="tbodyProductosEI"></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <table class="tableGeneral">
                    <thead>
                      <tr>
                        <th> @Html.DisplayNameFor(model => model.InfAdicional)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id="infoAdicionalEI"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="accordion" id="disEmpSecundario">
        <div class="card">
          <div class="card-header" id="headingEmpSecundario">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEmpSecundario" aria-expanded="true" aria-controls="collapseEmpSecundario">EMPAQUE SECUNDARIO</button>
            </h5>
          </div>
          <div id="collapseEmpSecundario" class="collapse" aria-labelledby="headingEmpSecundario" data-parent="#disEmpSecundario">
            <div class="card-body">
              @*<div class="row">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-8">
                    <table class="tableGeneral">
                      <thead>
                        <tr>
                          <th> @Html.DisplayNameFor(model => model.Descripcion)</th>
                          <th> @Html.DisplayNameFor(model => model.CodigoSAP)</th>
                          <th> @Html.DisplayNameFor(model => model.Cantidad)</th>
                        </tr>
                      </thead>
                      <tbody id="tbodyESCodigos"></tbody>
                    </table>
                  </div>
                </div>*@

              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                  <table class="tableGeneral">
                    <thead>
                      <tr>
                        <th> @Html.DisplayNameFor(model => model.InstruccionesEmpaque)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id="InsEmpSecundario"> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="row">
                <div class="col-md-5">
                  <table class="tableGeneral">
                    <thead>
                      <tr>
                        <th colspan="2"> @Html.DisplayNameFor(model => model.Imagenes)</th>
                      </tr>
                    </thead>
                    <tbody id="tbodyImgES">
                      <tr>
                        <td><img id="Img1ES" style="width:150px!important" /></td>
                        <td><img id="Img2ES" style="width:150px!important" /></td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                      <table class="tableGeneral">
                        <thead>
                          <tr>
                            <th colspan="2"> @Html.DisplayNameFor(model => model.CodBarras)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td id="NomEmpSecu"></td>
                            <td id="codBarrasES"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <table class="tableBote">
                        <thead>
                          <tr>
                            <th colspan="3" class="tituloTa" style="text-align:center!important;border: 1px solid #395095 !important"> @Html.DisplayNameFor(model => model.datosSticker)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="tituloTa">@Html.DisplayNameFor(model => model.desCliente)</td>
                            <td class="tituloTa">@Html.DisplayNameFor(model => model.desInterna)</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td class="tituloTa">REF</td>
                            <td class="tituloTa">@Html.DisplayNameFor(model => model.NumArticulo)</td>
                            <td id="tdREFES"></td>
                          </tr>
                          <tr>
                            <td class="tituloTa">Designation</td>
                            <td class="tituloTa">@Html.DisplayNameFor(model => model.NombreCliente)</td>
                            <td id="tdDesignationES"></td>
                          </tr>
                          <tr>
                            <td class="tituloTa">numero, barcode</td>
                            <td class="tituloTa">@Html.DisplayNameFor(model => model.CodBarras)</td>
                            <td id="tdNumeroES"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <table class="tableGeneral">
                    <thead>
                      <tr>
                        <th> @Html.DisplayNameFor(model => model.InfAdicional)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id="infoAdicionalES"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                @*<div class="col-md-7">
                    <table class="tableBote">
                      <thead>
                        <tr>
                          <th class="tituloTa" colspan="2" style="text-align:center!important"> @Html.DisplayNameFor(model => model.datosAdherible)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="tituloTa">@Html.DisplayNameFor(model => model.NumArticulo)</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td class="tituloTa">@Html.DisplayNameFor(model => model.NombreCliente)</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td class="tituloTa">@Html.DisplayNameFor(model => model.CodBarras)</td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>*@

              </div>

            </div>

          </div>

        </div>
      </div>

      <div class="accordion" id="disEmpFinal">
        <div class="card">
          <div class="card-header" id="headingEmpFinal">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEmpFinal" aria-expanded="true" aria-controls="collapseEmpFinal">EMPAQUE FINAL</button>
            </h5>
          </div>
          <div id="collapseEmpFinal" class="collapse" aria-labelledby="headingEmpFinal" data-parent="#disEmpFinal">
            <div class="card-body">
              @*<div class="row">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-8">
                    <table class="tableGeneral">
                      <thead>
                        <tr>
                          <th> @Html.DisplayNameFor(model => model.Descripcion)</th>
                          <th> @Html.DisplayNameFor(model => model.CodigoSAP)</th>
                          <th> @Html.DisplayNameFor(model => model.Cantidad)</th>
                        </tr>
                      </thead>
                      <tbody id="tbodyEFCodigos"></tbody>
                    </table>
                  </div>
                </div>*@
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                  <table class="tableGeneral">
                    <thead>
                      <tr>
                        <th> @Html.DisplayNameFor(model => model.InstruccionesEmpaque)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id="InsEmpFinal"> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="row">
                <div class="col-md-5">
                  <table class="tableGeneral">
                    <thead>
                      <tr>
                        <th colspan="2"> @Html.DisplayNameFor(model => model.Imagenes)</th>
                      </tr>
                    </thead>
                    <tbody id="tbodyImgEI">
                      <tr>
                        <td><img id="ImgCorto" />
                        </td>
                        <td>
                          <img id="ImgLargo" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                      <table class="tableGeneral">
                        <thead>
                          <tr>
                            <th colspan="2"> @Html.DisplayNameFor(model => model.CodBarras)</th>
                          </tr>
                        </thead>
                        <tbody id="tbodyCodBarrasEI">
                          <tr>
                            <td id="NomEmpFinal"></td>
                            <td id="codBarrasEF"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  @*<div class="row">
                      <div class="col-md-12">
                        <table class="tableGeneral">
                          <thead>
                            <tr>
                              <th colspan="3"> @Html.DisplayNameFor(model => model.datosAdherible)</th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>*@
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <table class="tableGeneral">
                    <thead>
                      <tr>
                        <th> @Html.DisplayNameFor(model => model.InfAdicional)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id="infoAdicionalEF"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-5">
                  <table class="tableGeneral">
                    <thead>
                      <tr>
                        <th colspan="2"> @Html.DisplayNameFor(model => model.armadoCerrado)</th>
                      </tr>
                      <tr>
                        <th> @Html.DisplayNameFor(model => model.Descripcion)</th>
                        <th> @Html.DisplayNameFor(model => model.con)</th>
                      </tr>
                    </thead>
                    <tbody id="tbodyArmado">
                      <tr>
                        <td>Armado </td>
                        <td id="tdArmado"></td>
                      </tr>
                      <tr>
                        <td>Cerrado</td>
                        <td id="tdCerrado"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="accordion" id="etiquetaBote" hidden="hidden">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ETIQUETA
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#etiquetaBote">
            <div class="card-body">
              <div class="row" style="padding-left:2%!important;padding-bottom:2%!important;">
                <div class="col-md-6">
                  <table class="tableBote">
                    <tbody>
                      <tr>
                        <td><img id="imgPrincipalBote" style="height:500px!important" /></td>
                      </tr>
                      <tr>
                        <td><label id="descImgPrincipal"></label></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6">
                  <table class="tableBote">
                    <tbody>
                      <tr>
                        <td class="tituloTa">@Html.DisplayNameFor(model => model.etiquetaBote.CodSapAdherible)</td>
                        <td><label id="lblCodSapAdherible"></label></td>
                      </tr>
                      <tr>
                        <td class="tituloTa">@Html.DisplayNameFor(model => model.etiquetaBote.CodSapTrasero)</td>
                        <td><label id="lblCodSapTrasero"></label></td>
                      </tr>
                      <tr>
                        <td class="tituloTa">@Html.DisplayNameFor(model => model.etiquetaBote.CodBarrasTrasero)</td>
                        <td><label id="lblCodBarrasTrasero"></label></td>
                      </tr>
                      <tr>
                        <td class="tituloTa">@Html.DisplayNameFor(model => model.etiquetaBote.CodSapBote)</td>
                        <td><label id="lblCodSapBote"></label></td>
                      </tr>
                      <tr>
                        <td class="tituloTa">@Html.DisplayNameFor(model => model.etiquetaBote.CodSapEsponja)</td>
                        <td><label id="lblCodSapEsponja"></label></td>
                      </tr>
                      <tr>
                        <td class="tituloTa">@Html.DisplayNameFor(model => model.etiquetaBote.CodSapPolipack)</td>
                        <td><label id="lblCodSapPolipack"></label></td>
                      </tr>
                      <tr>
                        <td colspan="2"><label id="lblTapa"></label></td>
                      </tr>
                      <tr>
                        <td colspan="2"><label id="lblObservaciones"></label></td>
                      </tr>
                    </tbody>
                  </table>

                  <hr />


                  <table class="tableGeneral " style="width:95%!important ">
                    <thead>
                      <tr>
                        <th>@Html.DisplayNameFor(model => model.etiquetaBote.imgFrente)</th>
                        <th>@Html.DisplayNameFor(model => model.etiquetaBote.imgVuelta)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><img id="imgFrente" style="width:95%!important;height:250px;"></td>
                        <td><img id="imgVuelta" style="width:95%!important;height:250px;"></td>
                      </tr>
                      <tr>
                        <td><label id="lbldescImgFrente"></label></td>
                        <td><label id="lbldescImgVuelta"></label></td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="accordion" id="etiquetaCanica" hidden="hidden">
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                ETIQUETA
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#etiquetaCanica">
            <div class="card-body">
              <div class="row" style="padding-left:2%!important;padding-bottom:2%!important">
                <div class="col-md-6">
                  <table>
                    <tbody>
                      <tr>
                        <td><img id="imgPrincipalEtiquetaC" style="width:400px!important "></td>
                      </tr>
                      <tr>
                        <td><label id="descImgPrincipalEtiquetaC"></label></td>
                      </tr>
                      <tr>
                        <td><img id="imgVueltaEtiquetaC" style="width:400px!important " /></td>
                      </tr>
                    </tbody>
                  </table>


                </div>
                <div class="col-md-6">
                  <table class="tableBote">
                    <tbody>
                      <tr>
                        <td class="tituloTa">@Html.DisplayNameFor(model => model.etiquetaCanica.CodBarras)</td>
                        <td><label id="lblCodBarrasEtiquetaC"></label></td>
                      </tr>
                    </tbody>
                  </table>
                  <hr />
                  <table class="tableGeneral">
                    <thead>
                      <tr>
                        <th style="width:10px!important">#</th>
                        <th>@Html.DisplayNameFor(model => model.etiquetaCanica.canicas[0].nomProduccion)</th>
                        <th>@Html.DisplayNameFor(model => model.etiquetaCanica.canicas[0].nomCliente)</th>
                        <th> @Html.DisplayNameFor(model => model.etiquetaCanica.canicas[0].codSAPEtiqueta)</th>
                      </tr>
                    </thead>

                    <tbody id="tbodyCanica"></tbody>

                  </table>
                  <table>
                    <tbody>
                      <tr>
                        <td><img id="imgCodBarrasColeccion" /></td>
                      </tr>
                    </tbody>
                  </table>
                  <hr />
                  <table class="">
                    <tbody id="tbodyImagenesCanica"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div id="etiquetaMezcla" class="accordion" hidden="hidden">
        <div class="card">
          <div id="headingThree" class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                ETIQUETA
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#etiquetaMezcla">
            <div class="card-body">
              <div class="row" style=" padding-bottom:2%!important">
                <div class="col-md-6">
                  <img id="imgPrincipalEtiquetaCaba">
                </div>
                <div class="col-md-6">
                  <table class="tableBote">
                    <tbody>
                      <tr>
                        <td class="tituloTa">@Html.DisplayNameFor(model => model.etiquetaCaballete.CodBarras)</td>
                        <td><label id="lblcodBarrasEtiquetaCaba"></label></td>
                      </tr>
                      <tr>
                        <td class="tituloTa">@Html.DisplayNameFor(model => model.etiquetaCaballete.CodSAPEtiqueta)</td>
                        <td><label id="lblcodSAPEtiquetaCaba"></label></td>
                      </tr>
                      <tr>
                        <td colspan="2"><label id="lblDescripcionEtiquetaCaba"></label></td>
                      </tr>
                    </tbody>
                  </table>
                  <hr />
                  <table class="tableGeneral tableCaballete">
                    <thead>
                      <tr>
                        <th colspan="3"><label id="lblModelosCaballete">MODELOS DIFERENTES</label></th>
                      </tr>
                    </thead>
                    <tbody id="tbodyCaballete"></tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="display" class="accordion" hidden="hidden">
        <div class="card">
          <div id="headingFour" class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                DISPLAY
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#display">
            <div class="card-body">
              <div class="row" style=" padding-bottom:2%!important">
                <div class="col-md-6">
                  <table class="tableGeneral">
                    <tr>
                      <td><img id="imgDisplayPrincipal"></td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6">
                  <table class="tableBote">
                    <tbody>
                      <tr>
                        <td class="tituloTa">@Html.DisplayNameFor(model => model.display.codSAP)</td>
                        <td><label id="lblcodSAPDisplay"></label></td>
                      </tr>
                      <tr>
                        <td class="tituloTa">@Html.DisplayNameFor(model => model.display.codSAPSticker)</td>
                        <td><label id="lblcodSAPStickerDisplay"></label></td>
                      </tr>
                      <tr>
                        <td class="tituloTa">@Html.DisplayNameFor(model => model.display.codBarras)</td>
                        <td><label id="lblcodBarrasDiplay"></label></td>
                      </tr>
                      <tr>
                        <td colspan="2"><label id="lblDescripcion"></label></td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="caja" class="accordion" hidden="hidden">
        <div class="card">
          <div id="headingFive" class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                CAJA MASTER
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#caja">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <table class="tableBote">
                    <tbody>
                      <tr>
                        <td class="tituloTa">@Html.DisplayNameFor(model => model.caja.CodSap)</td>
                        <td><label id="lblcodSAPCaja">CMECAJ0045</label></td>
                      </tr>
                      <tr>
                        <td colspan="2" id="lblDescCodSapCaja">Caja #45 Wholesalers Master P/Vitrolero Regular ETC 42 Ranurada C/D –int-35.3X25X16.8cm</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6">
                  <table class="tableBote">
                    <tbody>
                      <tr>
                        <td class="tituloTa">@Html.DisplayNameFor(model => model.caja.CodBarras)</td>
                        <td><label id="lblcodSAPCaja"></label></td>
                      </tr>
                      <tr>
                        <td colspan="2" id="lblDescCodBarrasCaja">N/A</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class=" row">
                <div class="col-md-12">
                  <table class="tableGeneral" style="width:97.5%!important">
                    <tbody>
                      <tr>
                        <td><img src="~/Resources/prueba.png" /></td>

                      </tr>
                      <tr>
                        <td colspan="2"></td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="bolsa" class="accordion" hidden="hidden">
        <div class="card">
          <div id="headingSix" class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                BOLSA
              </button>
            </h5>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#bolsa">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <table class="tableBote">
                    <tbody>
                      <tr>
                        <td class="tituloTa">@Html.DisplayNameFor(model => model.bolsa.CodSap)</td>
                        <td><label id="lblcodSAPBolsa">CMEBOL001</label></td>
                      </tr>
                      <tr>Bolsa exportación grande</tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6">
                  <table class="tableBote">
                    <tbody>
                      <tr>
                        <td class="tituloTa">@Html.DisplayNameFor(model => model.bolsa.CodBarra)</td>
                        <td><label id="lblcodSAPCaja"></label></td>
                      </tr>
                      <tr>
                        <td colspan="2" id="lblDescCodBarrasCaja">N/A</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <table class="tableBote">
                      <tbody>
                        <tr>
                          <td class="tituloTa">@Html.DisplayNameFor(model => model.bolsa.Medidas)</td>
                          <td><label id="lblcodSAPBolsa">Bolsa #04 Exportacion Granxe 40+25*55 cms</label></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>


                <div class=" row">
                  <div class="col-md-12">
                    <table class="tableGeneral" style="width:97.5%!important">
                      <tbody>
                        <tr>
                          <td><img src="~/Resources/Sin título.png" /></td>

                        </tr>
                        <tr>
                          <td colspan="2"></td>

                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


      <div class="jumbotron" style="background-color: #DBB95C !important; margin-top:10px!important" hidden="hidden">
        <div class="row">
          <div class="col-md-6">
            <table class="tableBote" style="font-size: 11pt !important;">
              <tbody>
                <tr>
                  <td class="tituloTa">Aprobada</td>
                  <td style="background-color: white !important"><label id="lblAprobada"></label></td>
                </tr>
                <tr>
                  <td class="tituloTa">Realizado Por</td>
                  <td style="background-color: white !important"><label id="lblRealizado"></label></td>
                </tr>
                <tr>
                  <td class="tituloTa">Fecha Última Actualización</td>
                  <td style="background-color: white !important"><label id="lblFecha"></label></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>


    </div>


}
