@using EspecificacionCanica.Models
@model LoginViewModel

<h2>@ViewBag.Title</h2>


@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}

<div style="align-content:center; margin-left:43%!important">
  <section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="row" style="padding-top:60%!important;padding-left:45%!important">
          <div class="col-md-10">
            @Html.LabelFor(m => m.Usuario, new { @class = "control-label" })
          </div>
        </div>
          <div class="row" style="padding-left:20%!important">
            <div class="col-md-10">
              @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control" })
              @Html.ValidationMessageFor(m => m.Usuario, "", new { @class = "text-danger" })
            </div>
          </div>
          <div class="row" style="padding-left:42%!important">
            <div class="col-md-10">
              @Html.LabelFor(m => m.Contrasenia, new { @class = "control-label" })

            </div>
          </div>
          <div class="row" style="padding-left:20%!important">
            <div class="col-md-10">
              @Html.PasswordFor(m => m.Contrasenia, new { @class = "form-control" })
              @Html.ValidationMessageFor(m => m.Contrasenia, "", new { @class = "text-danger" })
            </div>
          </div>
          <div class="row" style="padding-left:10%!important">
            <div class="col-md-12">
              @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
          </div>
          <div class="row" style="align-content:center; padding-left:40%!important">
            <div class="col-md-12">
              <input type="submit" value="ENTRAR" class="btn btn-primary" style="height:101px;width:101px; margin-top:12%; border-radius:100%;margin-left:-3%;font-size:12pt;font-weight:bold;" />

            </div>
          </div>
    }
  </section>
</div>

